<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <a href="/travels">Home</a> |
                
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <h2>Add a Trip</h2>
                <form class="form" action="/create_trip" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label id="destination">Destination:</label>
                        {% for msg in messages %}
                        {% if 'destination error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                        <input class="form-control" type="text" name="destination" id="destination" />
                    </div>
                    <div class="form-group">
                        <label id="dqescription">Description:</label>
                        {% for msg in messages %}
                        {% if 'description error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                        <input class="form-control" type="text" name="description" id="description" />
                    </div>
                    <div class="form-group">
                        <label id="travelDateFrom">travel Date From:</label>
                        {% for msg in messages %}
                        {% if 'travelDateFrom error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                        <input class="form-control" type="date" name="travelDateFrom" id="travelDateFrom" />
                    </div>
                    <div class="form-group">
                        <label id="travelDateTo">travel Date To:</label>
                        {% for msg in messages %}
                        {% if 'travelDateTo error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                        <input class="form-control" type="date" name="travelDateTo" id="travelDateTo" />
                    </div>
                    
                    <input class="btn btn-dark" type="submit" value="Add" />
                </form>
              
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>