<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login/Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'login/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
        <h1>Welcome!</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-3">
                
                <h2>Register</h2>
                <form class="form mt-3" action="/user/create" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        {% for msg in messages %}
                            {% if 'name error' == msg.tags %}
                            <p class="{{ msg.tags }}">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="text" name="name" id="name" />
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        {% for msg in messages %}
                            {% if 'username error' == msg.tags %}
                            <p class="{{ msg.tags }}">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="text" name="username" id="username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        {% for msg in messages %}
                            {% if 'password error' == msg.tags %}
                            <p class="{{ msg.tags }}">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="password" name="password" id="password" />
                    </div>
                    <div class="form-group">
                        <p>*Password should be at least 8 characters</p>
                        <label for="confirm_PW">Confirm PW:</label>
                        {% for msg in messages %}
                            {% if 'confirm_PW error' == msg.tags %}
                            <p class="{{ msg.tags }}">
                                {{ msg }}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <input class="form-control" type="password" name="confirm_PW" id="confirm_PW" />
                    </div>
                    
                    <input class="btn btn-dark" type="submit" value="Register" />
                </form>
            </div>
            <div class="col-3 ml-5">
                <h2>Login</h2>
                <form class="form mt-3" action="/login" method="POST">
                    {% csrf_token %}
                    {% for msg in messages %}
                        {% if 'login error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <label for="login_username">Username:</label>
                        {% for msg in messages %}
                        {% if 'login_username error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                        <input class="form-control" type="text" name="login_username" id="login_username" />
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        {% for msg in messages %}
                        {% if 'pwd error' == msg.tags %}
                        <p class="{{ msg.tags }}">
                            {{ msg }}
                        </p>
                        {% endif %}
                    {% endfor %}
                        <input class="form-control" type="password" name="pwd" id="pwd" />
                    </div>
                    <input class="btn btn-dark" type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>