<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <a href="/logout">Logout</a>
    <h3>Hello, {{ user.name }}!</h3>
   
    

    <p>Your Trip Schedules</p>
    
    <table>
        <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Plan</th>
            
        </tr>
        {% for trip in usertrips %}
        <tr>
            <td><a href="destination/{{ trip.id }}">{{ trip.destination }}</a></td>
            <td>{{ trip.travelDateFrom }}</td>
            <td>{{ trip.travelDateTo }}</td>
            <td>{{ trip.description }}</td>
            
        </tr>
        {% endfor %}
    </table>

    <p>Other User's Travel Plans</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do You Want to Join?</th>
        </tr>
        {% for trip in otherusertrips  %}
        <tr>
            <td>{{ trip.planned_By.name }}</td>
            <td><a href="/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
            <td>{{ trip.travelDateFrom }}</td>
            <td>{{ trip.travelDateTo }}</td>
            <td> <a href="/join/{{ trip.id}}">Join</a></td> 
        </tr>
        {% endfor %}
    </table>
    <a href="/travels/add">Add Travel Plan</a>
    
</body>
</html>