<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
</head>
<body>
    <a href="/travels">Home</a>
    <a href="/logout">Logout</a><br>
    
    <h2>{{ trip.destination }}</h2>
    <p>Planned By: {{ trip.planned_By.name }}</p>
    <p>Description: {{ trip.description }}</p>
    <p>Travel Date From: {{ trip.travelDateFrom }}</p>
    <p>Travel Date To: {{ trip.travelDateTo }}</p>
    <br>
    <p>Other users' joining the trip:</p><br>
        {% for user in users %}
            <p>{{ user.name }}</p>
        {% endfor %}

</body>
</html>